<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>十三新闻网-广告信息可视化</title>
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
	<header>
		<a class="return" href="g_ads.html">返回主页</a>
		<h1>广告数据可视化</h1>
		<div class="showTime">当前时间：2024年1月<span></span></div>
	</header>
  <section class="mainbox">
    <div class="column">
      <div class="panel bar">
        <h2>各类广告数量<a href="javascript:;">2022</a>
          <a href="javacript:;"> 2023</a></h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
      <div class="panel line">
        <h2>各时间段浏览总量</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
      <div class="panel pie">
        <h2>看广告的用户年龄分布</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
    </div>
    <div class="column">
      <div class="no">
        <div class="no-hd">
          <ul>
            <li>125811</li>
            <li>104563</li>
          </ul>
        </div>
        <div class="no-bd">
          <ul>
            <li>广告总量</li>
            <li>总点击量</li>
          </ul>
        </div>
      </div>
      <div class="map">
        <div class="chart"></div>
        <div class="map1"></div>
        <div class="map2"></div>
        <div class="map3"></div>
      </div>
    </div>
    <div class="column">
      <div class="panel bar1">
        <h2>各类广告的点击量</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
      <div class="panel line1">
        <h2>一个月每天浏览量</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
      <div class="panel pie1">
        <h2>广告发布地区</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </section>
  <script>
    (function (fn) {
      fn();
      setInterval(fn, 1000);
    })(function () {
     var dt = new Date();
      document.querySelector(".showTime span").innerHTML =
        dt.getDate() + "日-" +
        dt.getHours() + "时" +
        dt.getMinutes() + "分" +
        dt.getSeconds() + "秒";
    });
  </script>
  <script src="js/flexible.js"></script>
  <script src="https://www.jq22.com/jquery/echarts-4.2.1.min.js"></script>
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/echarts/4.2.1/echarts.min.js"></script>
  <script src="js/ads.js"></script>
 


</body>

</html>