<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十三新闻网-教育</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
    		<div>
    			<span class="navbar-title">十三新闻网</span>
    		</div>
			<div class="classification">
				<a href="home.html?type=home">主页</a>
				<a href="internation.html?type=internation">国际</a>
				<a href="technology.html?type=technology">科技</a>
				<a href="sport.html?type=sport">体育</a>
				<a href="amusement.html?type=amusement">文娱</a>
				<a href="education.html?type=education" class="active">教育</a>
				<a href="economics.html?type=economics">财经</a>
				<a href="culture.html?type=culture">文化</a>
			</div>
    		<!-- 添加搜索框 -->
    		<div class="search-box">
    		  <input type="text" placeholder="搜索">
    		  <button>搜索</button>
    		</div>
    		<!-- 添加个人图标 -->
            <div>
    			<a href="#" class="personal-link">
    				<img src="imgs/girl.png" alt="个人主页" />
    			</a>
    		</div>
        </nav>
    </header>

    <div class="carousel">
        <div class="carousel-slide active">
            <img src="imgs/jiaoyu1.jpg" alt="教育 1">
        </div>
        <div class="carousel-slide">
            <img src="imgs/jiaoyu2.jpg" alt="教育 2">
        </div>
        <div class="carousel-slide">
            <img src="imgs/jiaoyu3.jpg" alt="教育 3">
        </div>
        <!-- 添加更多幻灯片 -->
    </div>

    <main>
		<section class="news-section">
		    <h2>400余所高校与150余家企业洽谈合作 共促高校毕业生高质量就业</h2>
		    <article class="news-article">
		        <h3>光明网-《光明日报》 2023-12-29 14:41 发表</h3>
		        <p>12月28日，教育部在四川省成都市电子科技大学举办了供需对接就业育人项目交流推进会。本次活动是
				“2024届全国普通高校毕业生就业创业促进行动”的重要内容之一。来自全国的400余所高校与150余家企业，
				围绕人才联合培养、就业实习实训、生涯规划教育、师资队伍建设、毕业生招聘等内容，开展集中面对面洽谈合作，
				推动人才供需精准对接，促进高校毕业生高质量充分就业。</p>
		    </article>
		    <!-- More articles -->
		</section>
		<section class="news-section">
		    <h2>京津冀三地高等教育学会签署协议 加强“智力”协同</h2>
		    <article class="news-article">
		        <h3>新华网 2023-12-29 06:27 发表</h3>
		        <p>新华社石家庄12月28日电（记者任丽颖）28日，在河北大学举行的“京津冀高等教育协同发展论坛
				（2023）”上，京津冀三地高等教育学会签署了战略合作协议，未来将在人才培养、学科专业建设、科研
				项目攻关、科技成果转化等领域开启深度合作。来自京津两地的教育专家、河北省高等教育系统相关负责人
				共计200余人参加了本届论坛。</p>
		    </article>
		    <!-- More articles -->
		</section>
		<section class="news-section">
		    <h2>2023年共青团组织青年学子“下乡”服务乡村振兴</h2>
		    <article class="news-article">
		        <h3>新华社 2023-12-28 14:25 发表</h3>
		        <p>记者12月28日了解到，2023年共青团中央青年发展部开展“三下乡”之乡村振兴“笃行
				计划”专项行动，组织引导广大青年学子聚焦助力乡村产业发展、现代乡村治理、乡村规划建设、乡村公共服
				务、农业科技支持等5个方面，依托科技小院、乡村振兴工作站等载体，深入田间地头和村屯农家开展社会实践。</p>
		    </article>
		    <!-- More articles -->
		</section>
		
		<!--从后端获取的新闻-->
		<article id="news-list"></article>

        <aside class="sidebar">
            <h2>热门话题</h2>
            <p>远程教育：新时代的学习方式</p>
            <p>STEM教育的兴起与挑战</p>
            <p>全球化背景下的语言学习趋势</p>
            <p>教育技术：创新与学生互动</p>
            <!-- 更多话题 -->
        </aside>


    </main>

    <footer>
        <p>&copy; 2023 十三新闻网</p>
    </footer>
    
</body>
	<script src="js/jquery-3.7.1.js" type="text/javascript"></script>
	<script src="js/script.js"></script>
</html>
