<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>十三新闻网-新闻管理</title>
    <link rel="stylesheet" href="css/guanliyuan.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <nav>
        		<a href="g_ads.html">广告管理</a>
        		<a href="g_news.html">新闻管理</a>
                <a href="g_users.html"  class="active">用户管理</a>
        	</nav>
        </aside>
        <main class="main-content" id="main-content">
            <!-- 默认显示新闻管理的内容 -->
				<nav class="main-navigation">
				    <ul>
				        <li><a href="#" onclick="showMainContent_news('users-management')">信息表单</a></li>
				        <li><a href="users-visualization.html" >数据可视化</a></li>
				    </ul>
				</nav>
				<div id="users-management">
					<button class="new">新建数据</button>
					<!--表格-->
					<table class="recordForm">
					    <!--    表格头部-->
					    <thead>
					    <tr>
					        <th>编号</th>
					        <th>用户ID</th>
					        <th>用户名</th>
					        <th>用户昵称</th>
					        <th>联系电话</th>
					        <th>用户性别</th>
					        <th>业务员ID</th>
					        <th>操作</th>
					    </tr>
					    </thead>
					    <!--    表格主体-->
					    <tbody>
						<tr>
							<td>1</td>
							<td>1</td>
							<td>蒋序朝</td>
							<td>繁星</td>
							<td>17399983767</td>
							<td>男</td>
							<td>1</td>
							<td>
								<button class="edit">编辑</button>
								<button class="delete">删除</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>2</td>
							<td>王玉静</td>
							<td>零零</td>
							<td>17399983439</td>
							<td>女</td>
							<td>1</td>
							<td>
								<button class="edit">编辑</button>
								<button class="delete">删除</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>3</td>
							<td>张三</td>
							<td>张宝宝</td>
							<td>17399983567</td>
							<td>男</td>
							<td>2</td>
							<td>
								<button class="edit">编辑</button>
								<button class="delete">删除</button>
							</td>
						</tr>

					    </tbody>
					</table>
					<!--遮罩层-->
					<section class="mask"></section>
					<!--新建数据弹窗表单-->
					<section class="newDialogForm">
					    <header>
					        <span>新建数据</span>
					        <strong>X</strong>
					    </header>
					    <form action="" method="POST" autocomplete="off">
					        <div>
					            <label for="newuserID">用户ID</label>
					            <input type="text" id="newuserID">
					            <span class="verify"></span>
					        </div>
					        <div>
					            <label for="newusername">用户名</label>
					            <input type="text" id="newusername">
					            <span class="verify"></span>
					        </div>
					        <div>
					            <label for="newName">用户昵称</label>
					            <input type="text" id="newName">
					            <span class="verify"></span>
					        </div>
					        <div>
					            <label for="newPhone">联系电话</label>
					            <input type="text" id="newPhone">
					            <span class="verify"></span>
					        </div>
							<div>
							    <label for="newState">用户性别</label>
							    <select id="newState">
							        <option value="none" selected disabled hidden>请选择</option>
							        <option value="男">男</option>
							        <option value="女">女</option>
							    </select>
							    <span class="verify"></span>
							</div>
					        <div>
					            <label for="newClerk">业务员ID</label>
					            <input type="text" id="newClerk">
					            <span class="verify"></span>
					        </div>
					    </form>
					    <footer>
					        <button class="newClose">关闭</button>
					        <button class="newSave">保存</button>
					    </footer>
					</section>
					<!--编辑数据弹窗表单-->
					<section class="editDialogForm">
					    <header>
					        <span>编辑数据</span>
					        <strong>X</strong>
					    </header>
					    <form action="" method="POST" autocomplete="off">
					        <div>
					            <label for="editContractNum">用户ID</label>
					            <input type="text" id="editContractNum">
					        </div>
					        <div>
					            <label for="editCompany">用户名</label>
					            <input type="text" id="editCompany">
					        </div>
					        <div>
					            <label for="editName">用户昵称</label>
					            <input type="text" id="editName">
					        </div>
					        <div>
					            <label for="editPhone">联系电话</label>
					            <input type="text" id="editPhone">
					        </div>
					        <div>
					            <label for="newState">用户性别</label>
					            <select id="newState">
					                <option value="none" selected disabled hidden>请选择</option>
					                <option value="男">男</option>
					                <option value="女">女</option>
					            </select>
					            <span class="verify"></span>
					        </div>
					        <div>
					            <label for="newClerk">业务员ID</label>
					            <input type="text" id="newClerk">
					            <span class="verify"></span>
					        </div>
					    </form>
					    <footer>
					        <button class="editClose">关闭</button>
					        <button class="editSave">保存</button>
					    </footer>
					</section>
				</div>			
		</main>

	<!-- 先加载 Chart.js 库 -->
	<script src="js/users-table.js" defer></script>
</body>
</html>
